.inner{
    transform-style: preserve-3d;
    width: 100%;
    margin: 1%;
}

.inner:hover .back{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, .85);
}
.inner:hover .front img{
    opacity: calc(0.8);
}

.back{
    border-radius: 4px;
    margin: 0 1%;
    padding: 1%;
    color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, 0);
    width: 98%;
    height: 40%;
    transition: .8s;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.front img{
    border: solid black;
    border-radius: 4px;
    width: 100%;
    transition: .8s;
}

.titulo{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 1%;
}
.description{
    font-size: 17px;
    margin-top: 1%;
}

@media (width <= 820px){
    .inner{
        margin: 1% 0;
    }

    .back{
        margin: 0;
        width: 100%;
    }
    .titulo{
        font-size: 20px;
    }
    .description{
        font-size: 12px;
    }
}





*{
    margin: 0;
    padding: 0;
}

